@keyframes spin {
	0%   {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}
@keyframes move {
	0% {left:100%;}
	100% {left:-670px;};
}
body{
	background-color:#B26800;
	
}
a:link, a:visited, a:hover, a:active {
    color: #fff;
	text-decoration: none;
	
}
input, select {
	width: 185px;
}
sup{
	font-size:10px;
}
@font-face {
    font-family: comic-sans;
    src: url(comic.ttf);
	
	}
div{
	font-family: arial;
	font-size:15px;
}
.car{
	width:335px;
	height:110px;
	position:absolute;
	top:0px;
	left:0px;
	animation: move 10s linear infinite;
}
.car_img{
	width:335px;
	height:110px;
}
.subt{
	margin-top:-75px;
	margin-left:-20px;
	color:#0f0;
	text-align:center;
	font-size:21px;
}
.wheel1{
	width:52px;
	height:52px;
	position:absolute;
	top:55px;
	left:26px;
	animation: spin 2s linear infinite;
}
.wheel1_img{
	width:52px;
	height:52px;
}
.wheel2{
	width:54px;
	height:54px;
	position:absolute;
	top:55px;
	left:233px;
	animation: spin 2s linear infinite;
}
.wheel2_img{
	width:54px;
	height:54px;
}
.header{
	float:left;
	width:100%;
	background-image: url("hbg2.png");
	height:110px;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
}
.nav{
	float: right;
	margin-right:10px;
	margin-top:10px;
	font-weight:bold;
	color:#fff;
	text-shadow:2px 2px 2px #000;
}
.lgout{
	float:right;
	border: 1px solid grey;
	border-radius: 6px;
	background-color:#B26800;
	font-size:15px;
	width:115px;
	text-align:center;
	text-shadow:0px 0px 0px #fff;
}
.ujauto{
	float: right;
	margin-right: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	background-color: #B26800;
	font-size:15px;
	width:230px;
	text-align:center;
	text-shadow:0px 0px 0px #fff;
}
.left_inakt{
	float:left;
	width:0px;
	height:0px;
	background-color: #eee;
	margin-top: 110px;
	font-weight:bold;
	overflow:hidden;
}
.left{
	float:left;
	width:250px;
	background-color: #eee;
	margin-top: 110px;
	font-weight:bold;
	background-color:#C48B3B;
	color: #fff;
}
.szuroform{
	margin-left:15px;
	float:left;
}
.right{
	float:left;
	min-width:300px;
	background-color: #fff;
	margin-top: 110px;
	background-color:#C48B3B;
	color: #fff;
}
.ncform{
	margin-top:20px;
}
.ujautourlap{
	float:left;
	margin-left: 30px;
}
.ujautoback{
	width: 350px;
}
.nc_table{
	float: left;
	min-height:350px;
}
.nc_leiras{
	resize:none;
	min-width:350px;
	min-height:350px;
}
.ed_leiras{
	resize:none;
	width:350px;
	height:350px;
	width: 455px;
	height: 60px;
	margin-top:10px;
	margin-left:5px;
	
}
.car_list_elem{
	float: left;
	width: 800px;
	height: 165px;
	background-color:#FFCA7F;
	margin-top: 10px;
	border-radius: 8px;
	border: 2px solid #5f5;
	margin-left:30px;
	color:7F4A00;
}
.car_list_elem_edited{
	float: left;
	width: 800px;
	height: 275px;
	background-color:#83F52C;
	margin-top: 10px;
	border-radius: 8px;
	border: 2px solid #5f5;
	margin-left:30px;
}
.sold{
	position: absolute;
	width: 800px;
	height: 165px;
	background-color: rgba(200,200,200,0.9);
	color: #000;
	line-height:165px;
	font-size:60px;
	text-align:center;
	font-weight:bold;
}
.car_list_carname{
	float: left;
	width: 580px;
	color: #7F4A00;
	font-weight:bold;
	font-size: 20px;
	margin-left: 15px;
	margin-top: 10px;
}
.car_list_ar{
	float: left;
	width: 200px;
	color: #7F4A00;
	font-weight:bold;
	font-size: 20px;
	text-align:right;
	margin-top: 10px;
}
.car_list_props{
	float: left;
	width: 640px;
	margin-left: 5px; 
	margin-top: 10px;
}
.car_list_prop{
	float: left;
	margin-left: 3px;
	background-color:#7F4A00;
	border-radius:5px;
	overflow:hidden;
	color: #EAB975;
	font-size:13px;
}
.car_list_props2{
	float: left;
	width: 570px;
	margin-left: 25px;
	margin-top: 0px;
}
.car_list_kep{
	float: left;
	width: 78px;
	height: 78px;
	border: 1px solid #555;
	margin-top:10px;
}
.car_list_leiras{
	float: left;
	margin-left:10px;
	margin-top:10px;
	width: 475px;
	height: 80px;
	border-radius: 8px;
	background-color:#B26800;
	color: #fff;
	text-indent:5px;
}
.adminpanel{
	float:right;
	margin-right:10px;
	width: 80px;
	text-align:center;
	font-size:16px;
	line-height:16px;
	font-weight:normal;
	margin-top:-20px;
}
.sold_adminpanel{
	float:right;
	margin-right:10px;
	width: 80px;
	text-align:right;
	font-size:16px;
	line-height:16px;
	font-weight:normal;
	margin-top:52px;
}
.soldch{
	width:15px;
}
.edsbmt{
	width: 80px;
}
.f_sub{
	font-size:13px;
	color: #f00;
}
.footer{
	margin-top:10px;
	float:left;
	width:100%;
	background-color:#aaa;
	text-align:right;
}
.pages{
	float:left;
	width:830px;
	text-align:center;
}
.akt_page{
	font-weight:bold;
	color:#B26800;
}
.minmaxsub{
	font-size:12px;
}
.pform{
	height:0px;
	overflow:0px;
}
.pics{
	width:0px;
	height:0px;
	border-right:0px solid #f00;
	float:left;
	margin-top:10px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.vissza{
	width: 90px;
	float: left;
	margin-left:1px;
}
.pic{
	width:80px;
	margin-left:5px;
	float:left;
	margin-top:5px;
}
.fpic{
	width:78px;
	height:78px;
}
.chb{
	width: 20px;
}